@use './variables.scss' as *;
@use './mixin.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: 'Noto Serif TC', serif !important;
  // font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
figure {
  margin: 0;
}

body {
  // font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
  background-color: $black;
  overflow: hidden;
}

#root {
  height: 100vh;
  margin: auto;
  background:
    linear-gradient(170deg, $brand-gray-600 0%, $brand-primary-900 90%),
    url('../image/texture.png') repeat;
  background-blend-mode: soft-light;
  // overflow: hidden;

  @include rwd-min(2560px) {
    width: 2560px;
  }

  // @include rwd-min(1920px) {
  //   width: 1920px;
  // }
}

.page {
  // width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;
}

span {
  color: $gray-400;
}

.page-view {
  @include flex(column, nowrap, stretch, flex-start);
  flex-grow: 1;
  height: 100vh;
  height: 100dvh;
  max-width: 100vw;
  padding: 20px;
  overflow: hidden;

  &.has-return-btn {
    .btn.return {
      padding: 0 10px;
      width: fit-content;
      margin-top: 20px;
      margin-left: 20px;
    }
  }
}

.extend {
  flex-grow: 1;
  padding: 40px 20px 0 20px;

  @include rwd-max(1024px) {
    padding: 20px;
  }
}

.page-title {
  @include flex(column, nowrap, flex-end, flex-start, 20px);
  @include no-select();
  padding: 0 20px;

  span {
    color: $gray-500;
    font-size: $l;
    letter-spacing: 1px;
  }
}

hr {
  width: 100%;
  height: 2px;
  border: none;

  background-color: $white-30;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*====== scroll ======*/
body::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar {
  display: none;
}

.scroll-wrap-x {
  overflow-x: scroll;
}

.scroll-wrap-y {
  overflow-y: scroll;
}

.scroll-wrap.table {
  &::-webkit-scrollbar {
    display: block;
    height: 10px;

    @include rwd-max(1366px) {
      display: none;
    }
  }

  &::-webkit-scrollbar-button {
    background: $transparent;

    border-radius: 4px;
  }

  &::-webkit-scrollbar-track-piece {
    background: $transparent;
  }

  &::-webkit-scrollbar-thumb {
    @include glass($black-20);
    border-radius: 4px;
    background-color: $black-20;
  }

  &::-webkit-scrollbar-track {
    box-shadow: $transparent;
  }
}

/*====== photo ======*/
.photo-container {
  position: relative;

  .photo,
  .empty {
    position: relative;
    width: 200px;
    height: 200px;
    z-index: 50;
    cursor: pointer;
  }

  .empty {
    @include fcc;
    background-color: $black-20;
  }

  .circle {
    border-radius: 50%;
  }

  .delete {
    @include fcc;
    position: absolute;
    top: 0px;
    right: -15px;
    cursor: pointer;
    z-index: 50;

    &.inside {
      top: 5px;
      right: 5px;
    }
  }

  input {
    display: none;
  }
}

/*====== msg ======*/
span.alert,
span.alert-item {
  position: absolute;
  bottom: -26px;
  right: 0;
  font-size: $xs;
  color: $white !important;

  pointer-events: none;

  &.pass {
    display: block;
    text-shadow:
      0 0 4px $water-300,
      0 0 4px $water-300,
      0 0 4px $water-300;
  }
}

span.alert,
span.alert-item,
.not-active,
.not-enabled {
  color: $white !important;
  text-shadow:
    0 0 4px $pink-700,
    0 0 4px $pink-700,
    0 0 4px $pink-300;
}

.is-active,
.is-enabled {
  color: $white !important;
  text-shadow:
    0 0 4px $water-300,
    0 0 4px $water-300,
    0 0 4px $water-300;
}

/*====== textarea ======*/
textarea.input-textarea {
  padding: 5px;
  font-size: $s;
  line-height: $m;
  border: 1px solid $white-15;
  transition: all 500ms ease;

  &:focus {
    border: 1px solid $gold-500;
    outline: none;
  }
}
