@use './variables.scss' as *;
@use './mixin.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Noto Serif TC', serif;
}

body::-webkit-scrollbar {
  display: none;
}

.page {
  width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;
  background: linear-gradient(200deg, $light-blue 0%, $deep-purple 100%);
}
