@use '../variables.scss' as *;
@use '../mixin.scss' as *;

.btn {
  @include frc;
  @include glass($white-15);
  height: 42px;
  font-size: $n;
  color: $white;
  transition: all 700ms ease;
  cursor: pointer;

  span {
    white-space: nowrap;
    letter-spacing: 1px;
    transform: translateY(-1px);
    transition: all 700ms ease;
  }

  &:hover {
    background-color: $brand-primary-500;
    transform: translate(2px, 2px);
    box-shadow: none;

    span {
      color: $gold-500 !important;
    }
  }
}
