@use '../variables.scss' as *;
@use '../mixin.scss' as *;

.btn {
  @include frc;
  @include glass($white-15);
  @include no-select();
  padding: 3px 10px;

  color: $white;
  transition: all 700ms ease;
  cursor: pointer;

  @include rwd-min(1920px) {
    padding: 5px 15px;
  }

  span {
    white-space: nowrap;
    letter-spacing: 1px;
    transition: all 700ms ease;
  }

  path {
    transition: all 700ms ease;
  }

  &:hover {
    background-color: $black-20;
    transform: translate(2px, 2px);
    box-shadow: none;

    span {
      color: $gold-500 !important;
    }

    path {
      color: $gold-500 !important;
    }
  }
}
