@use '../variables.scss' as *;
@use '../mixin.scss' as *;

.loading-container {
  position: relative;
}

.loading {
  @include fcc;
  @include glass($transparent, $blur: 2px);
  box-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;

  &.circle {
    border-radius: 50%;
  }
}

.loading-off {
  display: none;
}
