@use '../variables.scss' as *;
@use '../mixin.scss' as *;

table {
  width: 100%;

  th {
    @include glass($black-20);
    padding: 15px;

    span {
      width: fit-content;
      white-space: nowrap;
      font-weight: 900;
      color: $gold-500;
    }
  }

  td {
    @include glass($black-20);
    padding: 10px;

    span {
      width: fit-content;
      white-space: nowrap;
    }
  }

  tbody tr {
    // cursor: pointer;

    td {
      text-align: center;
      white-space: nowrap;
      transition: all 500ms ease;

      .product-name-wrap {
        @include flex(column, nowrap, center, flex-start, 5px);

        .name-sub {
          color: $gray-500;
        }
      }
    }

    span {
      transition: all 500ms ease;
    }

    .icon-action {
      @include frc;
      width: 40px;
      height: 50px;
      margin: auto;
      cursor: pointer;

      path {
        transition: all 500ms ease;
      }

      &:hover {
        path,
        span {
          color: $gold-500;
        }
      }
    }

    &:hover {
      td {
        background-color: $brand-primary-500;

        path,
        span {
          color: $gold-500;
        }
      }
    }
  }
}
