@use '../variables.scss' as *;
@use '../mixin.scss' as *;

#set-pwd {
  @include fcc;
  overflow: scroll;

  .set-pwd-container {
    height: 80vh;
    height: 80dvh;
    position: relative;
  }

  .home-toggle {
    @include no-select();
    color: $gray-400;
    font-size: $s;
    letter-spacing: 3px;
  }

  .home-toggle {
    cursor: pointer;
    transition: all 300ms ease;

    &:hover {
      color: $white;
      text-shadow:
        0 0 4px $sky-500,
        0 0 4px $sky-500,
        0 0 4px $sky-500;
    }
  }

  .page-show {
    position: absolute;
    inset: 0;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition:
      opacity 300ms ease 300ms,
      visibility 0s linear;

    &.active {
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
    }
  }

  .btn {
    width: 320px;
  }

  #set-pwd-wrap {
    @include flex(column, nowrap, stretch, flex-start);
    gap: 100px;
    margin-top: 200px;
    opacity: 1;

    .action-container {
      @include flex(column, nowrap, center, center, 20px);
      width: 100%;
      margin-top: 50px;
    }
  }
}
