@use '../../variables.scss' as *;
@use '../../mixin.scss' as *;

#account {
  @include flex(column, nowrap, center, flex-start, 100px);

  span {
    color: $gray-400;
  }

  .account-container {
    @include flex(row, nowrap, flex-start, space-between, 50px);
    width: 600px;
    @include glass($black-20);
    padding: 20px;

    @include rwd-max(769px) {
      @include flex(column, nowrap, flex-start, space-between, 50px);
    }

    .account-main-container {
      @include flex(column, nowrap, flex-start, flex-start, 10px);

      .account-wrap {
        @include flex(row, nowrap, flex-start, flex-start, 15px);

        .account-name {
          font-size: $l;
          font-weight: 700;
          letter-spacing: 1px;
        }

        .role {
          padding: 3px 8px;
          border-radius: 5px;
          background-color: $white-30;

          &.admin {
            background-color: $gold-400;
          }

          &.user {
            background-color: $gray-400;
          }

          span {
            letter-spacing: 1px;
            color: $brand-primary-900 !important;
          }
        }
      }
    }
  }

  .account-body-container {
    @include flex(column, nowrap, flex-start, flex-start, 25px);
    // flex-grow: 1;
    // max-width: 600px;

    span {
      font-size: $n;
      letter-spacing: 1px;
    }

    .account-item-container {
      @include flex(row, nowrap, center, center, 10px);
    }

    .account-item {
      @include flex(column, nowrap, flex-start, flex-start, 10px);
      // width: 350px;

      .item-title {
        font-weight: 700;
      }

      .item-value {
        font-size: $d;
        padding-left: 20px;
      }
    }
  }

  .account-pwd-container {
    width: 200px;
    // height: 100vh;
    // background-color: pink;
  }
}
