@use '../../variables.scss' as *;
@use '../../mixin.scss' as *;

.add-admin-account {
  @include modal($black-60);

  .add-admin-account-container {
    @include flex(column, nowrap, stretch, flex-start, 40px);
    background:
      linear-gradient(170deg, rgba($root-bg-bottom, 0.6) 0%, rgba($root-bg-top, 0.5) 90%),
      url('../image/texture.png') repeat;

    width: 600px;
    padding: 20px 40px;

    .caption {
      @include no-select();
      align-self: flex-end;
      font-size: $n;
      letter-spacing: 1px;
    }

    .action-wrap {
      @include frc;
      gap: 20px;
    }

    .input-wrap {
      @include flex(column, nowrap, stretch, flex-start, 30px);
    }
  }
}
