@use '../../variables.scss' as *;
@use '../../mixin.scss' as *;

.add-product {
  @include modal($black-60);

  .add-product-container {
    @include flex(column, nowrap, stretch, flex-start, 40px);
    @include glass($modal-bg);
    width: 900px;
    padding: 30px;

    @include rwd-max(768px) {
      width: 700px;
    }

    .caption {
      @include no-select();
      align-self: flex-end;
      font-size: $m;
      letter-spacing: 1px;
    }

    .action-wrap {
      @include frc;
      gap: 10px;
    }

    .btn {
      align-self: center;
      padding: 0px 8px;
      height: 36px;
      width: fit-content;

      span {
        font-size: $d;
      }
    }

    .input-wrap {
      @include flex(column, nowrap, stretch, flex-start, 30px);
    }

    .input-sub-wrap {
      @include flex(row, nowrap, center, flex-start, 30px);

      .MuiFormControl-root {
        flex-grow: 1;
      }
    }

    .description-wrap {
      @include flex(column, nowrap, stretch, flex-start, 10px);

      .add-description {
        @include flex(row, nowrap, center, center, 10px);
        align-self: flex-start;

        path {
          color: $gray-400;
        }
      }
    }
  }
}
