@use '../../variables.scss' as *;
@use '../../mixin.scss' as *;

#admin-panel {
  @include flex(row, nowrap, stretch, flex-start);

  .content {
    @include flex(column, nowrap, stretch, flex-start, 100px);
    flex-grow: 1;
    width: 100%;
    max-width: 1440px;
    align-self: center;
    position: relative;

    .content-item {
      @include glass($black-20);
      padding: 20px;
    }

    .action-wrap {
      @include flex(row, nowrap, flex-start, flex-end);
    }

    .btn {
      width: fit-content;
      padding: 0 10px;
      flex-shrink: 0;
    }

    .content-container {
      @include flex(column, nowrap, stretch, center, 30px);
      flex-grow: 1;
      // overflow: hidden;

      .search-container {
        @include flex(column, nowrap, stretch, flex-end, 20px);
        flex-shrink: 0;

        .search-wrap {
          @include grid(200px, 20px, 10px);
        }
      }

      .content-list-container {
        @include flex(column, nowrap, stretch, flex-start, 20px);
        flex-grow: 1;
        // overflow: hidden;

        .content-table-container {
          @include flex(column, nowrap, flex-start, flex-start);
          flex-grow: 1;
        }

        .pages {
          align-self: center;
        }
      }
    }
  }
}
