@use '../variables.scss' as *;
@use '../mixin.scss' as *;

.MuiFormControl-root {
  margin: 0 !important;
}

// input
.MuiInput-root {
  .MuiInput-input {
    color: $gold-500;
  }

  &.MuiInput-underline {
    transition: all 500ms ease !important;
  }

  /* 預設底線顏色 */
  &.MuiInput-underline:before {
    border-bottom: 1px solid $white-60 !important;
    transition: all 600ms ease !important;
  }

  /* hover 底線 */
  &.MuiInput-underline:hover:not(.Mui-disabled, .Mui-error):before {
    border-bottom: 1px solid $white !important;
  }

  /* 聚焦時的底線顏色 */
  &.MuiInput-underline:after {
    border-bottom: 2px solid $gold-500 !important;
  }
}

// alert
.MuiAlert-root {
  border-radius: 0 !important;

  &.MuiAlert-colorSuccess {
    color: $brand-primary-700;
    background-color: $white-60;

    .MuiAlert-icon {
      color: $brand-primary-700 !important;
    }

    .MuiAlert-message {
      color: $brand-primary-700 !important;
      // transform: translateY(1px);
      font-size: $s;
    }
  }

  &.MuiAlert-colorError {
    color: $white;
    background-color: $pink-900;

    .MuiAlert-icon {
      color: $white !important;
    }

    .MuiAlert-message {
      color: $white !important;
      // transform: translateY(1px);
      font-size: $s;
    }
  }
}

// switch
/* 滑塊顏色 */
.MuiSwitch-switchBase.Mui-checked {
  color: $gold-500;
}

/* 底線背景顏色 */
.MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background-color: $sky-300;
}

// text field
/* Label 顏色 */
.MuiInputLabel-root {
  color: $gray-400 !important;
}

/* Label 聚焦時顏色 */
.MuiInputLabel-root.Mui-focused {
  color: $gold-500 !important;
}

/* 預設底線 */
// .MuiInput-underline:before {
//   border-bottom: 1px solid green !important;
// }

/* hover 底線 */
// .MuiInput-underline:hover:before {
//   border-bottom: 2px solid orange !important;
// }

/* focus 底線 */
// .MuiInput-underline:after {
//   border-bottom: 2px solid blue !important;
// }

/* 輸入文字 */
.MuiInputBase-input {
  color: $gray-400 !important;
}

/* 錯誤訊息（helperText） */
.MuiFormHelperText-root.Mui-error {
  color: $white !important;
  text-shadow:
    0 0 4px $pink-700,
    0 0 4px $pink-700,
    0 0 4px $pink-300;
}

/* Label 在錯誤時 */
.MuiInputLabel-root.Mui-error {
  color: $white !important;
  text-shadow:
    0 0 4px $pink-700,
    0 0 4px $pink-700,
    0 0 4px $pink-300;
}

/* 標準款（standard）底線在錯誤時 */
.MuiInput-underline.Mui-error:after {
  color: $white !important;
  text-shadow:
    0 0 4px $pink-700,
    0 0 4px $pink-700,
    0 0 4px $pink-300;
}

// pagination
.MuiPaginationItem-root {
  color: $gray-400 !important;
}

.Mui-selected {
  background-color: $transparent !important;
  color: $gold-500 !important;
  // text-shadow:
  //   0 0 4px $water-300,
  //   0 0 4px $water-300,
  //   0 0 4px $water-300;
  font-size: $n !important;
}
